* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 50px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.logo {
    color: #1d5cb9;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo span {
    color: #48c7af;
}

.logo img {
    width: 20px;
    height: 22px;
    margin-right: 2px;
    border-radius: 15px;
    border: double #48c7af;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

nav ul li a:hover {
    color: #48c7af;
    transform: translateY(-2px);
    transition: 0.3s;
}

header button {
    background-color: #1d5cb9;
    border: none;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}

header button:hover {
    background-color: #6e6c6c;
    transition: 0.3s;
}

/* Hero Section */

.main-hero {
    background: rgb(21, 63, 49);
}

.hero {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 60px 60px;
    min-height: 75vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-image img {
    width: 450px;
    height: 650px;
    border-radius: 5px;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.120);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.120);
    position: relative;
    z-index: 1;
}

.hero-wraper .plus {
    margin-bottom: 20px;
    color: #fff;
}

.hero-wraper .plus span {
    color: #48c7af;
}

.hero-wraper .plus .icon {
    color: rgb(255, 0, 0);
}

.hero-wraper h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: bold;
    display: block;
}

.hero-wraper p {
    margin-top: 3%;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 3%;
}

.hero-wraper button {
    padding: 12px;
    background-color: transparent;
    border-radius: 20px;
    border-color: #fff;
    margin-top: 3%;
}

.hero-wraper button a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.hero-wraper button:hover {
    background-color: #6e6c6c;
    transform: translateY(-2px);
    transition: 0.3s;
}

.opportunities {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 84px 80px;
    padding: 30px;
}

.opportunity {
    text-align: center;
    border-left: double #cbdcf8;
    margin-left: 8px;
}

.opportunity h3 {
    font-size: 1.1rem;
    color: #1d5cb9;
    margin-top: 10px;
}

.opportunity span {
    color: #48c7af;
    font-size: 1.5rem;
}

.opportunity p {
    color: #444;
    margin-top: 8px;
}
/* End Of Hero Section */


/* Start Of About */
.about-section {
    background: white;
    min-height: 75vh;
    margin-top: 5%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 20px;
}

.subtitle {
    color: #48c7af;
    font: bold;
    font-size: 14px;
}

.about-content h1 {
    font-size: 3.6rem;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #111;
}

.features-grid {
    display: grid;
    grid-template-columns: lfr lfr;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.two-features {
    display: flex;
    gap: 40px;
}

.feature-item {
    font-size: 14px;
    color: #444;
}

.feature-item span {
    color: #48c7af;
    margin-right: 8PX;
}

.cta-btn {
    background: #48c7af;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    max-width: 200px;
}

.cta-btn:hover {
    background-color: #444;
    transform: translateY(-1px);
    transition: 0.5s;
}

.about-image {
    position: relative;
    width: 450px;
    height: 450px;
}

.about-image img {
    width: 140%;
    height: 85%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.frame {
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 1;
}

.blue-frame {
    background-color: #d1e0f0;
    bottom: 16px;
    left: -50px;
}

.green-frame {
    border: 15px solid #a3e4d7;
    top: -28px;
    right: -130px;
}

.stats-bar {
    background-color: #1d5cb9;
    display: flex;
    justify-content: space-around;
    padding: 40px 10%;
    color: white;
    text-align: center;
}

.stat-item h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.stat-item p {
    color: #cbdcf8;
    margin: 0;
}
/* End Of About */


/* Start Of Services Section */
.services {
    max-width: 2100px;
    padding: 6rem 0;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.services .services-container {
    justify-content: center;
    display: flex;
    gap: 30%;
}

.services .serve {
    text-align: center;
}

.services .serve h3 {
    font-size: 1rem;
    color: #48c7af;
}

.services .serve h1 {
    font-size: 3rem;
    margin-top: 15px;
}

.services .services-container button {
    background-color: transparent;
    padding: 8px;
    min-width: 100px;
    height: 40px;
    border-radius: 4px;
    border-color: rgb(126, 214, 126);
}

.services .services-container a {
    color: green;
    font-size: 1rem;
}

.services .services-container button:hover {
    background-color: rgb(126, 214, 126);
    color: #fff;
    transform: translateY(-2px);
    transition: 0.3s;
}

.services .cardio-neuro-pulmonary {
    display: flex;
    margin-top: 5.5%;
    justify-content: center;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardio-neuro-pulmonary .cardiology {
    padding: 25px;
    background-color: #c1f1d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.cardio-neuro-pulmonary .cardiology:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.cardio-neuro-pulmonary .cardiology img {
    width: 50px;
    margin-bottom: 15px;
    margin-top: 8px;
    border-radius: 25px;
}

.cardio-neuro-pulmonary .cardiology h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.cardio-neuro-pulmonary .cardiology p {
    color: #000;
    margin-bottom: 8px;
}

.cardio-neuro-pulmonary .neurology {
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 25px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.cardio-neuro-pulmonary .neurology:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.cardio-neuro-pulmonary .neurology img {
    width: 80px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin-top: 8px;
}

.cardio-neuro-pulmonary .neurology h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.2rem;
}

.cardio-neuro-pulmonary .neurology p {
    margin-bottom: 8px;
}

.cardio-neuro-pulmonary .pulmonary {
    padding: 25px;
    background-color: #bcf7d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.cardio-neuro-pulmonary .pulmonary:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.cardio-neuro-pulmonary .pulmonary img {
    width: 55px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-top: 8px;
}

.cardio-neuro-pulmonary .pulmonary h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.cardio-neuro-pulmonary .pulmonary p {
    color: #000;
    margin-bottom: 8px;
}

.cardio-neuro-pulmonary .learn a {
    text-decoration: none;
    justify-content: center;
    color: green;
}

.cardio-neuro-pulmonary .learn a:hover {
    color: #48c7af;
    transform: translateY(-2px);
    transition: 0.3s;
}

.cardio-neuro-pulmonary .learn a span {
    margin-left: 3px;
    font-size: 0.7rem;
}

/* lab-health-dentist */
.services .lab-health-dentist {
    display: flex;
    margin-top: 5.5%;
    justify-content: center;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lab-health-dentist .laboratory {
    padding: 25px;
    background-color: #c1f1d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.lab-health-dentist .laboratory:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.lab-health-dentist .laboratory img {
    width: 55px;
    margin-bottom: 15px;
    margin-top: 8px;
    border-radius: 25px;
}

.lab-health-dentist .laboratory h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.lab-health-dentist .laboratory p {
    color: #000;
    margin-bottom: 8px;
}

.lab-health-dentist .health-check {
    background-color: #c1f1d4;
    display: block;
    text-align: center;
    padding: 25px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.lab-health-dentist .health-check:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.lab-health-dentist .health-check img {
    width: 55px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-top: 8px;
}

.lab-health-dentist .health-check h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.2rem;
}

.lab-health-dentist .health-check p {
    margin-bottom: 8px;
}

.lab-health-dentist .general-dentistry {
    padding: 25px;
    background-color: #bcf7d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.lab-health-dentist .general-dentistry:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.lab-health-dentist .general-dentistry img {
    width: 55px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-top: 8px;
}

.lab-health-dentist .general-dentistry h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.lab-health-dentist .general-dentistry p {
    color: #000;
    margin-bottom: 8px;
}

.lab-health-dentist .learn a {
    text-decoration: none;
    justify-content: center;
    color: green;
}

.lab-health-dentist .learn a:hover {
    color: #48c7af;
    transform: translateY(-2px);
    transition: 0.3s;
}

.lab-health-dentist .learn a span {
    margin-left: 3px;
    font-size: 0.7rem;
}
/* End Of Service Section */


/* Start Of Doctors Section */
.doctors {
    max-width: 2100px;
    padding: 100px 40px;
    align-items: center;
    background-color: #d4f5e1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.doc-wrap {
    display: flex;
    justify-content: space-between;
}

.doc-arrow {
    font-size: 1.5rem;
}

.doc-arrow .left-angle {
    background: #c7c7c7;
    color: #fff;
    border-radius: 30px;
    padding: 3px;
    cursor: pointer;
}

.doc-arrow .left-angle:hover {
    color: #48c7af;
}

.doc-arrow .right-angle {
    background: #48c7af;
    color: #eeeeee;
    border-radius: 30px;
    padding: 3px;
    cursor: pointer;
}

.doc-arrow .right-angle:hover {
    color: #444;
}

.doctors .our-doctors {
    padding-bottom: 20px;
}

.doctors .our-doctors h3 {
    color: #48c7af;
    text-align: center;
}

.doctors .our-doctors h2 {
    font-size: 3rem;
    color:#111;
    margin-left: 90px;
}

.doctors .doctors-card {
    display: flex;
    gap: 40px;
    margin-top: 25px;
    justify-content: center;
}

.social-links {
    margin-top: 2px;
    font-size: 0.7rem;
}

.doctors .doctors-card .allen {
    text-align: center;
    background-color: #fff;
    height: 340px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.doctors-card .allen h3 {
    color: #1d5cb9;
    font-size: 0.9rem;
}

.doctors-card .allen p {
    font-size: 0.8rem;
    color: #444;
}

.doctors .doctors-card .allen img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.doctors .doctors-card .jeffrey {
    text-align: center;
    background-color: #fff;
    height: 340px;
    width: 19%;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
}

.jeffrey h3 {
    color: #1d5cb9;
    font-size: 0.9rem;
}

.jeffrey p {
    font-size: 0.8rem;
    color: #444;
}

.doctors .doctors-card .jeffrey img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.doctors .doctors-card .diana {
    text-align: center;
    background-color: #fff;
    height: 340px;
    width: 19%;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
}

.diana h3 {
    color: #1d5cb9;
    font-size: 0.9rem;
}

.diana p {
    font-size: 0.8rem;
    color: #444;
}

.doctors .doctors-card .diana img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.doctors .doctors-card .tracy {
    text-align: center;
    background-color: #fff;
    height: 340px;
    width: 19%;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
}

.tracy h3 {
    color: #1d5cb9;
    font-size: 0.9rem;
}

.tracy p {
    font-size: 0.8rem;
    color: #444;
}

.doctors .doctors-card .tracy img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}
/* End Of Doctors */


/* Start Of SUBSCRIBE SECTION */
.news-letter {
    display: flex;
    padding: 40px 30px;
    align-items: center;
    gap: 15%;
    background: #1d5cb9;
}

.subs p {
    color: #fff;
    padding-bottom: 14px;
    padding-left: 32px;
    font-size: 1rem;
}

.subs-card h2 {
    color: #fff;
    font-size: 2rem;
    padding-left: 30px;
}

.email-card {
    background: #fff;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

.email-card input {
    color: #000;
    border: transparent;
    text-decoration: none;
    padding: 8px;
}

.email-card button {
    padding: 8px;
    color: white;
    background: #111;
    border-radius: 5px;
    cursor: pointer;
}
/* End Of Subscription */


/* SECONDARY SECTION */
 .aside-logo {
    background-color: rgb(3, 15, 37);
    padding: 60px 60px;
    display: flex;
}

.aside-logo .logo {
    padding-bottom: 10px;
}

.aside-logo .clinic {
    font-size: 1.1rem;
}

.aside-logo img {
    border-radius: 15px;
    width: 20px;
    height: 20px;
}

.logo-p p {
    color: #fff;
    margin-top: 8px;
    padding-right: 30%;
}

.email-location {
    padding-top: 10px;
}

.email-location p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.email-location span {
    color: #48c7af;
    background: #fff;
    border-radius: 10px;
    font-size: 0.7rem;
    padding: 2px;
}

.sidebar {
    display: flex;
    gap: 35px;
}

.sidebar h3 {
    color: #fff;
    font-size: 1rem;
    padding-bottom: 10px;
    border-bottom: double #cbdcf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar p {
    color: #cbdcf8;
    margin-top: 15px;
    font-size: 0.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar p a {
    color: #cbdcf8;
    text-decoration: none;
    margin-top: 10px;
    font-size: 0.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-p p {
    border: solid #cbdcf8;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.contact-p a {
    text-decoration: none;
    color: #cbdcf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-p p span {
    margin-right: 3px;
    padding-left: 5%;
    color: #fff;
    font-size: 1rem;
}

.contact-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.contact-icons img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    object-fit: cover;
}

.social-follow {
    align-items: right;
    gap: 10px;
}

.social-follow a i {
    font-size: 1.2rem;
    gap: 15px;
}
/* End Of Secondary Section */

/* Footer Section */
footer {
    align-items: center;
    padding: 8px 40px;
    background-color: #000;
    font-size: 0.8rem;
    color: #c7c7c7;
    display: flex;
    justify-content: space-between;
    gap: 30%;
}
/* End Of Footer */


/* START OF PAGES SECTION */

/* About Page */
.page-content {
    display: flex;
    align-items: center;
    padding: 100px 40px;
    gap: 30px;
}

.page-main h2 {
    margin-top: 50px;
    margin-bottom: 14px;
    font-size: 2rem;
}

.page-main .logo {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.page-main .logo img {
    width: 40px;
    height: 39px;
    margin-right: 2px;
    border-radius: 15px;
    border: double #48c7af;
}

.page-main p {
    margin-top: 12px;
    font-size: 1.1rem;
    justify-content: space-around;
    color: #555;
}

.who-we-are {
    display: flex;
    align-items: center;
    padding: 80px 40px;
    background-color: #f5f3f3;
    gap: 40px;
}

.who-we-are img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.who-we-are-card h3 {
    margin-bottom: 14px;
    font-size: 2rem;
}

.who-we-are-card p {
    margin-top: 12px;
    font-size: 1.1rem;
    color: #555;
}

.who-we-are-card button {
    margin-top: 20px;
    padding: 10px;
    background-color: #48c7af;
    border-radius: 18px;
    border-color: transparent;
}

.who-we-are-card button a {
    font-weight: bold;
}

.who-we-are-card button:hover {
    background-color: #555;
    transform: translateY(-1px);
    transition: 2s;
}

/* vision and mission */
.vision {
    text-align: center;
    padding: 60px 40px;
}

.vision span i {
    margin-bottom: 20px;
    font-size: 3.5rem;
    color: #fff;
    background-color: #48c7af;
    border-radius: 150px;
    padding: 4px;
}

.vision h3 {
    font-size: 1.9rem;
    margin-bottom: 14px;
    margin-top: 8px;
}

.vision p {
    margin-right: 80px;
    margin-left: 80px;
    font-size: 1.1rem;
    color: #555;
}

.mission {
    padding: 100px 90px;
    min-height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../image/team-of-medical-doctors.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.mission .eye i {
    margin-bottom: 20px;
    font-size: 3.8rem;
    color: #fff;
    background-color: #48c7af;
    border-radius: 150px;
    padding: 4px;
}

.mission h3 {
    margin-top: 15px;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

.mission p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.mission-card p {
    color: #fff;
    font-size: 1rem;
    margin-top: 18px;
}

.mission-card span i {
    color: #48c7af;
}
/* End of About Page */

/* Start of Service Page */
.services {
    max-width: 2100px;
    padding: 6rem 0;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.services .services-page {
    justify-content: center;
    display: flex;
    gap: 30%;
}

.services .serve-page {
    text-align: center;
}

.services .serve-page h3 {
    font-size: 1rem;
    color: #48c7af;
    margin-bottom: 20px;
    margin-top: 30px;
}

.services .serve-page h1 {
    font-size: 3.5rem;
    margin-top: 0%;
    text-align: center;
}

.services .cardio-neuro-pulmonary {
    display: flex;
    margin-top: 5.5%;
    justify-content: center;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardio-neuro-pulmonary .cardiology {
    padding: 25px;
    background-color: #c1f1d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.cardio-neuro-pulmonary .cardiology:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.cardio-neuro-pulmonary .cardiology img {
    width: 50px;
    margin-bottom: 15px;
    margin-top: 8px;
    border-radius: 25px;
}

.cardio-neuro-pulmonary .cardiology h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.cardio-neuro-pulmonary .cardiology p {
    color: #000;
    margin-bottom: 8px;
}

.cardio-neuro-pulmonary .neurology {
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 25px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.cardio-neuro-pulmonary .neurology:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.cardio-neuro-pulmonary .neurology img {
    width: 80px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin-top: 8px;
}

.cardio-neuro-pulmonary .neurology h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.2rem;
}

.cardio-neuro-pulmonary .neurology p {
    margin-bottom: 8px;
}

.cardio-neuro-pulmonary .pulmonary {
    padding: 25px;
    background-color: #bcf7d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.cardio-neuro-pulmonary .pulmonary:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.cardio-neuro-pulmonary .pulmonary img {
    width: 55px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-top: 8px;
}

.cardio-neuro-pulmonary .pulmonary h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.cardio-neuro-pulmonary .pulmonary p {
    color: #000;
    margin-bottom: 8px;
}

.cardio-neuro-pulmonary .learn a {
    text-decoration: none;
    justify-content: center;
    color: green;
}

.cardio-neuro-pulmonary .learn a:hover {
    color: #48c7af;
    transform: translateY(-2px);
    transition: 0.3s;
}

.cardio-neuro-pulmonary .learn a span {
    margin-left: 3px;
    font-size: 0.7rem;
}

/* lab-health-dentist */
.services .lab-health-dentist {
    display: flex;
    margin-top: 5.5%;
    justify-content: center;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lab-health-dentist .laboratory {
    padding: 25px;
    background-color: #c1f1d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.lab-health-dentist .laboratory:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.lab-health-dentist .laboratory img {
    width: 55px;
    margin-bottom: 15px;
    margin-top: 8px;
    border-radius: 25px;
}

.lab-health-dentist .laboratory h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.lab-health-dentist .laboratory p {
    color: #000;
    margin-bottom: 8px;
}

.lab-health-dentist .health-check {
    background-color: #c1f1d4;
    display: block;
    text-align: center;
    padding: 25px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.lab-health-dentist .health-check:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.lab-health-dentist .health-check img {
    width: 55px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-top: 8px;
}

.lab-health-dentist .health-check h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.2rem;
}

.lab-health-dentist .health-check p {
    margin-bottom: 8px;
}

.lab-health-dentist .general-dentistry {
    padding: 25px;
    background-color: #bcf7d4;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
}

.lab-health-dentist .general-dentistry:hover {
    transform: translateX(-2px);
    transform: 0.3s;
}

.lab-health-dentist .general-dentistry img {
    width: 55px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-top: 8px;
}

.lab-health-dentist .general-dentistry h3 {
    margin-bottom: 5px;
    font-weight: 700;
    color: #1d5cb9;
    font-size: 1.1rem;
}

.lab-health-dentist .general-dentistry p {
    color: #000;
    margin-bottom: 8px;
}

.lab-health-dentist .learn a {
    text-decoration: none;
    justify-content: center;
    color: green;
}

.lab-health-dentist .learn a:hover {
    color: #48c7af;
    transform: translateY(-2px);
    transition: 0.3s;
}

.lab-health-dentist .learn a span {
    margin-left: 3px;
    font-size: 0.7rem;
}
/* End of Service Page */


/* Blog Page */
.blog-page {
    align-items: center;
    padding: 100px 60px;
}

.blog-start {
    text-align: center;
}

.blog-start h3 {
    color: #48c7af;
    padding-top: 80px;
}

.blog-start h2 {
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* all cards */
.all-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.blog-card {
    align-items: center;
    width: 340px;
}

.blog-card img {
    width: 340px;
    height: 400px;
    padding: 0%;
    object-fit: cover;
    padding-top: 50px;
}

.articles-btn {
    text-align: center;
    padding: 0px;
    padding-bottom: 15px;
}

.articles-btn button {
    padding: 9px;
    background-color: #48c7af;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 50px;
}

.articles-btn button a {
    padding: 3px;
}

.articles-btn button:hover {
    transform: translateY(-2px);
    transition: 0.3s;
    background-color: #6e6c6c;
}

/* jeffery */
.jeffrey-card {
    padding: 20px 15px;
    align-items: center;
    background-color: #8bbdd162;
    margin-top: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
    border-radius: 8px;
}

.jeffrey-card h3 {
    padding-top: 14px;
    color: black;
    font-size: 1.8rem;
}

.jeffrey-card p {
    padding-top: 8px;
}

.jeffrey-card .details {
    padding-top: 10px;
    cursor: pointer;
    color: #1d5cb9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-date {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: double #6e6c6c;
}

.user-date span {
    color: #48c7af;
}

.user-date p {
    color: #444;
}

/* hartzler */
.hartzler-card {
    padding: 20px 15px;
    align-items: center;
    background-color: #8bbdd162;
    margin-top: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
    border-radius: 8px;
}

.hartzler-card h3 {
    padding-top: 14px;
    color: #1d5cb9;
    font-size: 1.8rem;
}

.hartzler-card p {
    padding-top: 8px;
}

.hartzler-card .details {
    padding-top: 10px;
    cursor: pointer;
    color: #1d5cb9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-date {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: double #6e6c6c;
}

.user-date span {
    color: #48c7af;
}

.user-date p {
    color: #444;
}

/* diana */
.diana-card {
    padding: 20px 15px;
    align-items: center;
    background-color: #8bbdd162;
    margin-top: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
    height: 294px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
    border-radius: 8px;
}

.diana-card h3 {
    padding-top: 14px;
    color: black;
    font-size: 1.8rem;
}

.diana-card p {
    padding-top: 15px;
}

.diana-card .details {
    padding-top: 20px;
    cursor: pointer;
    color: #1d5cb9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-date {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: double #6e6c6c;
}

.user-date span {
    color: #48c7af;
}

.user-date p {
    color: #444;
}

/* Blog Subscribe */
.subscription {
    display: flex;
    padding: 45px 30px;
    align-items: center;
    gap: 15%;
    background: #1d5cb9;
}

.subscribe-text h3 {
    color: #fff;
    padding-bottom: 12px;
    font-size: 1rem;
}

.subscribe-text span {
    color: #cbdcf8;
    font-size: 1.2rem;
}

.subscribe-text h2 {
    color: #fff;
    font-size: 2rem;
}

.subscribe-form {
    background: #fff;
    padding: 12px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

.subscribe-form input {
    color: #000;
    border: transparent;
    text-decoration: none;
    padding: 8px;
}

.subscribe-form button {
    padding: 8px;
    color: white;
    background: #111;
    border-radius: 5px;
    cursor: pointer;
}
/* End Of Blog Page */


/* Contact Page */
.contact-page {
    display: flex;
    padding: 100px 85px;
    align-items: center;
    background-color: #d4f5e1;
}

.con-card {
    padding-right: 15%;
}

.con-card h3 {
    color: #48c7af;
    font-size: 1rem;
    padding-bottom: 18px;
    font-weight: bold;
}

.con-card h3 span {
    color: red;
}

.con-card h2 {
    font-size: 2.7rem;
    padding-bottom: 10px;
}

.con-card p {
    color: #444;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.con-image img {
    max-width: 500px;
    object-fit: cover;
    border-bottom: #fff;
}

/* book now */
.second-con-sec {
    display: flex;
    padding: 0px 85px;
    align-items: center;
    z-index: 1;
    padding-bottom: 300px;
}

.whatsapp-form {
    position: absolute;
    right: -0px;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.whatsapp-form img {
    width: 400px;
    height: 580px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 60px;
}

.book-appointment {
    background: #fff;
    width: 600px;
    height: 380px;
    align-items: center;
    padding: 5px 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.05);
}

.book-image img {
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

.book {
    padding-bottom: 14px;
}

.form-card input {
    width: 248px;
    height: 40px;
    margin-top: 12px;
    border-radius: 5px;
    padding: 8px;
    border-color: #cbdcf8;
}

.form-btn {
    margin-top: 14px;
}

.form-btn button {
    background: #48c7af;
    border-color: transparent;
    width: 248px;
    height: 38px;
    border-radius: 4px;
}

.form-btn button a {
    font-size: 0.9rem;
    font-weight: bold;
}

.form-btn button:hover {
    background-color: #555;
    cursor: pointer;
    transform: translateX(-1px);
    transition: 0s;
}

/* meet contact */
.contact-meet {
    display: flex;
    padding: 0px 85px;
    align-items: center;
    gap: 30px;
    background: #cbdcf8;
}

.contact-meet .contact-meet-image img {
    width: 100%;
    height: 50%px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 8px;
}

.contact-meet .contact-meet-text h3 {
    color: #1d5cb9;
    font-size: 1.3rem;
    padding-bottom: 18px;
    font-weight: bold;
}

.contact-meet .contact-meet-text h2 {
    font-size: 3rem;
    padding-bottom: 10px;
}

.contact-meet .contact-meet-text p {
    color: #444;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-meet-text .contact-meet-btn button {
    background: #48c7af;
    border-color: transparent;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    margin-top: 20px;
}

.contact-meet-text .contact-meet-btn button a {
    font-size: 0.9rem;
    font-weight: bold;
}

.contact-meet-text .contact-meet-btn button:hover {
    background-color: #555;
    cursor: pointer;
    transform: translateX(-1px);
    transition: 0s;
}
/* End Of Contact Page */


/* Mobile Applicable */
@media (max-width: 780px) {
    .hero {
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       padding: 100px 20px;
       min-height: 75vh;
       display: block;
       text-align: center;
    }

    .hero-image img {
        display: none;
    }

    .hero-wraper .plus {
       margin-bottom: 20px;
       color: #fff;
    }

    .hero-wraper .plus span {
       color: #48c7af;
    }

    .hero-wraper .plus .icon {
       color: rgb(255, 0, 0);
    }

    .hero-wraper h1 {
       font-size: 3rem;
       color: #fff;
       font-weight: bold;
    }

    .hero-wraper p {
       margin-top: 5%;
       font-size: 0.9rem;
       color: #fff;
       margin-bottom: 3%;
       text-align: center;
    }

    .hero-wraper button {
       padding: 12px;
       background-color: transparent;
       border-radius: 20px;
       border-color: #fff;
       margin-top: 3%;
    }

    .hero-wraper button a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    .opportunities {
        display: block;
        gap: 80px;
        justify-content: center;
        margin-bottom: 50px;
        background-color: #fff;
        border-radius: 8px;
        margin: 10px;
        padding: 20px 8px;
    }

    .opportunity {
        text-align: center;
        border-left: double #cbdcf8;
    }

    .opportunity h3 {
       font-size: 1.1rem;
       color: #1d5cb9;
    }

    .opportunity span {
       color: #48c7af;
       font-size: 1.5rem;
    }

    .opportunity p {
       color: #444;
       margin-bottom: 15px;
       padding: 0px 8px;
    }
    /* End of Hero Section */

    /* Start Of About */
    .about-section {
       background: white;
       min-height: 75vh;
       margin-top: 5%;
    }

    .container {
       max-width: 1080px;
       margin: 0 auto;
       display: block;
       align-items: center;
       padding: 80px 20px;
       text-align: center;
    }

    .subtitle {
       color: #48c7af;
       font: bold;
       font-size: 14px;
    }

    .about-content h1 {
       font-size: 3.5rem;
       margin-top: 15px;
       margin-bottom: 10px;
       color: #111;
    }

    .about-content p {
       color: #444;
       font-size: 1.1rem;
       margin-bottom: 20px;
       text-align: center;
    }

    .features-grid {
       display: grid;
       grid-template-columns: lfr lfr;
       gap: 15px;
       margin-bottom: 30px;
       margin-top: 20px;
    }

    .two-features {
       display: flex;
       gap: 40px;
    }

    .feature-item {
       font-size: 14px;
       color: #444;
    }

   .feature-item span {
       color: #48c7af;
    }

    .cta-btn {
       background: #48c7af;
       color: white;
       padding: 15px 30px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       font-weight: bold;
       max-width: 200px;
       margin-top: 15px;
    }

    .about-image {
       position: relative;
       width: 450px;
       height: 450px;
       display: none;
    }

    .stats-bar {
       background-color: #1d5cb9;
       display: flex;
       justify-content: space-around;
       padding: 40px 8px;
       gap: 14px;
       color: white;
       text-align: center;
    }

    .stat-item h2 {
       font-size: 2rem;
       margin-bottom: 5px;
    }
    /* End Of About */

    /* Start Of Services Section */
    .services {
       padding: 80px 20px;
       align-items: center;
       justify-content: center;
       background-color: #fff;
       min-height: 250vh;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .services .services-container {
       justify-content: center;
       display: block;
       text-align: center;
    }

    .services .serve {
       text-align: center;
    }

    .services .serve h3 {
       font-size: 1rem;
       color: #48c7af;
    }

    .services .serve h1 {
       font-size: 3.5rem;
       margin-top: 15px;
       text-align: center;
    }

    .services .services-container button {
       display: none;
    }

    .services .cardio-neuro-pulmonary {
       display: block;
       margin-top: 5.5%;
       text-align: center;
       margin-left: 43px;
       padding: 15px 8px;
       align-items: center;
       justify-content: center;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .cardio-neuro-pulmonary .cardiology {
       padding: 25px;
       background-color: #c1f1d4;
       border-radius: 10px;
       text-align: center;
       display: block;
       width: 260px;
       height: 250px;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
    }

    .cardio-neuro-pulmonary .neurology {
       background-color: #fff;
       display: block;
       text-align: center;
       padding: 25px;
       width: 260px;
       height: 260px;
       border-radius: 10px;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
    }

    .cardio-neuro-pulmonary .pulmonary {
       padding: 25px;
       background-color: #bcf7d4;
       border-radius: 10px;
       text-align: center;
       display: block;
       width: 260px;
       height: 250px;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
    }

    /* lab-health-dentist */
    .services .lab-health-dentist {
       text-align: center;
       display: block;
       padding: 15px 8px;
       margin-left: 43px;
       margin-top: 5.5%;
       justify-content: center;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .lab-health-dentist .laboratory {
       padding: 25px;
       background-color: #c1f1d4;
       border-radius: 10px;
       text-align: center;
       display: block;
       width: 260px;
       height: 250px;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
    }

    .lab-health-dentist .health-check {
       background-color: #c1f1d4;
       display: block;
       text-align: center;
       padding: 25px;
       width: 260px;
       height: 250px;
       border-radius: 10px;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
    }

    .lab-health-dentist .general-dentistry {
       padding: 25px;
       background-color: #bcf7d4;
       border-radius: 10px;
       text-align: center;
       display: block;
       width: 260px;
       height: 250px;
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.120);
    }
    /* End Of Service Section */

    /* Start Of Doctors Section */
    .doctors {
       padding: 60px 20px;
       justify-content: center;
       align-items: center;
       text-align: center;
       background-color: #d4f5e1;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .doc-wrap {
        display: block;
        text-align: center;
    }

    .doc-arrow {
        font-size: 1.5rem;
    }

    .doc-arrow .left-angle {
        background: #c7c7c7;
        color: #fff;
        border-radius: 30px;
        padding: 3px;
        cursor: pointer;
    }

    .doc-arrow .right-angle {
        background: #48c7af;
        color: #eeeeee;
        border-radius: 30px;
        padding: 3px;
        cursor: pointer;
    }

    .doctors .our-doctors {
        padding-bottom: 20px;
        text-align: center;
    }

    .doctors .our-doctors h3 {
        color: #48c7af;
    }

    .doctors .our-doctors h2 {
        display: none;
        font-size: 3rem;
        text-align: center;
        color:#111;
        
    }

    .doctors .doctors-card {
        display: block;
        text-align: center;
        margin-left: 43px;
        margin-top: 25px;
        justify-content: center;
        align-items: center;
    }

    .social-links {
        margin-top: 2px;
        font-size: 0.7rem;
    }

    .doctors .doctors-card .allen {
        text-align: center;
        background-color: #fff;
        height: 340px;
        width: 277px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    }

    .doctors .doctors-card .jeffrey {
        text-align: center;
        background-color: #fff;
        height: 340px;
        width: 277px;
        border-radius: 8px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
    }

    .doctors .doctors-card .diana {
        text-align: center;
        background-color: #fff;
        height: 340px;
        width: 277px;
        border-radius: 8px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
    }

    .doctors .doctors-card .tracy {
        text-align: center;
        background-color: #fff;
        height: 367px;
        width: 277px;
        border-radius: 8px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
    }

    .doctors .doctors-card .tracy img {
        width: 100%;
        height: 80%;
        margin-top: 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
    }
    /* End Of Doctors */

    /* Start Of SUBSCRIBE SECTION */
    .news-letter {
       display: block;
       padding: 30px 0px;
       justify-content: center !important;
       align-items: center;
       text-align: left;
       background: #1d5cb9;
    }

    .subs p {
       color: #fff;
       padding-bottom: 14px;
       font-size: 1rem;
    }

    .subs-card h2 {
       color: #fff;
       font-size: 1.3rem;
    }

    .email-card {
       background: #fff;
       margin-top: 15px;
       width: 280px;
       display: flex;
       gap: 5px;
       border-radius: 5px;
       align-items: center;
       margin-left: 26px;
       margin-right: 20px;
    }

    .email-card input {
       color: #000;
       border: transparent;
       text-decoration: none;
       padding: 5px;
       font-size: 0.7rem;
    }

    .email-card button {
       padding: 5px;
       color: white;
       background: #111;
       border-radius: 5px;
       cursor: pointer;
    }
    /* End Of Subscription */

    /* SECONDARY SECTION */
    .aside-logo {
       background-color: rgb(3, 15, 37);
       padding: 40px 14px;
       display: block;
    }

    .aside-logo .logo {
       padding-bottom: 10px;
    }

    .aside-logo .clinic {
       font-size: 1.1rem;
    }

    .aside-logo img {
       border-radius: 15px;
       width: 20px;
       height: 20px;
    }

    .logo-p p {
       color: #fff;
       margin-top: 8px;
    }

    .sidebar {
       display: block;
       padding: 20px 0px;
       gap: 15px;
    }

    .sidebar h3 {
       color: #fff;
       font-size: 1rem;
       padding-bottom: 10px;
       margin-top: 25px;
       border-bottom: double #cbdcf8;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .contact-p p {
       border: solid #cbdcf8;
       padding: 5px;
       width: 250px;
       border-radius: 7px;
       cursor: pointer;
    }

    .contact-p a {
       text-decoration: none;
       color: #cbdcf8;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .contact-p p span {
       margin-right: 3px;
       color: #fff;
       font-size: 1rem;
    }

    .contact-icons {
       display: flex;
       gap: 15px;
       margin-top: 20px;
    }

    .contact-icons img {
       width: 25px;
       height: 25px;
       border-radius: 5px;
       object-fit: cover;
       margin-top: 5px;
    }

    .contact-icons .social-follow {
       align-items: right;
       gap: 10px;
    }

    .contact-icons .social-follow a i {
       font-size: 1.2rem;
    }
    /* End Of Secondary Section */

    /* Footer Section */
    footer {
       align-items: center;
       padding: 5px 10px;
       background-color: #000;
       color: #c7c7c7;
       display: block;
    }

    .social-follow {
       margin-top: 8px;
       text-align: left;
    }

    .social-follow a i {
       font-size: 0.8rem;
       gap: 15px;
    }
    /* End Of Footer */

    /* Nav Section */
    nav ul {
       display: none;
       list-style: none;
       gap: 30px;
    }

    /* Header Section */
    header {
       justify-content: space-between;
       display: flex;
       align-items: center;
       background-color: white;
       padding: 5px 10px;
       position: fixed;
       z-index: 1000;
       width: 100%;
    }

    header button {
       background-color: #1d5cb9;
       border: none;
       padding: 7px;
       border-radius: 100%;
       cursor: pointer;
    }

    button a {
       text-decoration: none;
       color: #fff;
       padding: 5px;
       font-weight: bold;
       font-size: 0.7rem;
    }
    /* End of Header */

    /* About Page */
    .page-content {
       display: block;
       align-items: center;
       padding: 100px 15px;
       gap: 30px;
    }

    .page-main h2 {
       margin-top: 50px;
       margin-bottom: 14px;
       font-size: 2rem;
    }

    .page-main .logo {
       margin-bottom: 10px;
       font-size: 2.5rem;
    }

    .page-main .logo img {
       width: 40px;
       height: 39px;
       margin-right: 2px;
       border-radius: 15px;
       border: double #48c7af;
    }

    .page-main p {
       margin-top: 12px;
       font-size: 1.1rem;
       justify-content: space-around;
       color: #555;
    }

    .page-img {
        display: none;
    }

    .who-we-are {
       display: block;
       align-items: center;
       margin-top: 5px;
       padding: 80px 15px;
       background-color: #f5f3f3;
       gap: 40px;
    }

    .who-we-are img {
       width: 100%;
       object-fit: cover;
       border-radius: 10px;
    }

    .who-we-are-card h3 {
       margin-bottom: 14px;
       font-size: 2rem;
    }

   /* vision and mission */
    .vision {
       text-align: left;
       padding: 60px 10px;
       text-align: center;
    }

    .vision span i {
       margin-bottom: 20px;
       font-size: 3.5rem;
       color: #fff;
       background-color: #48c7af;
       border-radius: 150px;
       padding: 4px;
    }

    .vision h3 {
       font-size: 1.9rem;
       margin-bottom: 14px;
       margin-top: 8px;
    }

    .vision p {
       font-size: 1.1rem;
       color: #555;
       text-align: center;
    }

    .mission {
       padding: 40px 15px;
       min-height: 75vh;
       background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
       url(../image/team-of-medical-doctors.jpg);
       background-position: top center;
       background-attachment: fixed;
    }
    /* End of About Page */

    /* Blog Page */
    .blog-page {
       align-items: center;
       padding: 80px 20px;
    }

    .blog-start {
       text-align: center;
    }

   /* all cards */
    .all-cards {
       display: block;
       gap: 40px;
       justify-content: center;
    }

    .blog-card {
       align-items: center;
       width: 100%;
    }

    .blog-card img {
       width: 100%;
       padding: 0%;
       object-fit: cover;
       padding-top: 50px;
    }

    /* jeffery */
    .jeffrey-card {
       padding: 20px 15px;
       align-items: center;
       background-color: #8bbdd162;
       margin-top: 0px;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
       border-radius: 8px;
    }

    .jeffrey-card h3 {
       padding-top: 14px;
       color: black;
       font-size: 1.8rem;
    }

   .jeffrey-card p {
       padding-top: 8px;
    }

   .jeffrey-card .details {
       padding-top: 10px;
       cursor: pointer;
       color: #1d5cb9;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* hartzler */
    .hartzler-card {
       padding: 20px 15px;
       align-items: center;
       background-color: #8bbdd162;
       margin-top: 0px;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
       border-radius: 8px;
    }

    .hartzler-card h3 {
       padding-top: 14px;
       color: #1d5cb9;
       font-size: 1.8rem;
    }

    .hartzler-card p {
       padding-top: 8px;
    }

    .hartzler-card .details {
       padding-top: 10px;
       cursor: pointer;
       color: #1d5cb9;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* diana */
    .diana-card {
       padding: 20px 15px;
       align-items: center;
       background-color: #8bbdd162;
       margin-top: 0px;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
       height: 294px;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.120);
       border-radius: 8px;
    }

    .diana-card h3 {
       padding-top: 14px;
       color: black;
       font-size: 1.8rem;
    }

    .diana-card p {
       padding-top: 8px;
    }

    .diana-card .details {
       padding-top: 10px;
       cursor: pointer;
       color: #1d5cb9;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* Contact Page */
    .contact-page {
       display: block;
       padding: 100px 20px;
       align-items: center;
       background-color: #d4f5e1;
    }

    .con-image img {
       display: none;
    }

    /* book now */
    .second-con-sec {
       display: block;
       padding: 10px 5px;
       align-items: center;
       z-index: 1;
       padding-bottom: 300px;
       width: 100%;
    }

    .whatsapp-form {
       display: none;
    }

    .book-appointment {
       background: #fff;
       width: 100%;
       height: 500%;
       align-items: center;
       padding: 20px -150px;
       display: block;
       justify-content: center;
       border-radius: 10px;
       box-shadow: 0 0px 30px rgba(0, 0, 0, 0.05);
       text-align: center;
    }

    .book-image img {
       width: 250px;
       height: 320px;
       object-fit: cover;
       border-radius: 10px;
       box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    }

    .book {
        margin-top: 10px;
    }

    /* meet contact */
    .contact-meet {
       display: block;
       padding: 25px 20px;
       align-items: center;
       gap: 30px;
       background: #cbdcf8;
    }

    .contact-meet .contact-meet-image img {
       width: 100%;
       height: 50%px;
       object-fit: cover;
       border-radius: 10px;
       margin-top: 14px;
    }

    .contact-meet .contact-meet-text h3 {
       color: #1d5cb9;
       font-size: 1.3rem;
       padding-bottom: 18px;
       font-weight: bold;
       text-align: left;
    }

    .contact-meet .contact-meet-text h2 {
       font-size: 3rem;
       margin-bottom: 10px;
       margin-top: 10px;
    }
    /* End Of Contact Page */
}
